html {
    background-color: #F25C05;
}

body{
    background-color: white;
    width: 960px;
    margin: 20px auto;
    border-radius: 20px;
}

header {
padding: 20px;
    text-align: center;

}

header img {
    display: block;
    margin: 20px auto;
    width: 80%
}

nav {
    background-color: #D9B504;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #8C5614;
    font-size: 25px;
    margin: 0 20px;
}
nav a:hover{
color: #F25C05;
text-decoration: none;
}

main{
    padding: 20px;
}

main img {
    display: block;
    margin: 20px auto;
    width: 80%;
}

footer{
    text-align: center;
    background-color: #D9B504;
    padding: 20px 0;
    border-radius: 0 0 20px 20px;
}

a {
    color: #F25C05;
    text-decoration: none;
}

a:hover {
    color: #D9B504;
    text-decoration: none;
}

h1, h2, h3{
    color: #F25C05;
}